@import "~@angular/material/theming";

@include mat-core();

$porsche-app-primary: mat-palette($mat-gray, 100, 50, 400);
$porsche-app-accent: mat-palette($mat-red, 500, 200, 800);

// The warn palette is optional (defaults to red).
$porsche-app-warn: mat-palette($mat-blue-gray);

// Create the theme object (a Sass map containing all of the palettes).
$porsche-app-theme: mat-dark-theme(
  $porsche-app-primary,
  $porsche-app-accent,
  $porsche-app-warn
);

@include angular-material-theme($porsche-app-theme);

.mat-tab-header {
  // background-color: mat-color($porsche-app-primary, 50);
  background-color: white;
  .mat-tab-label {
    color: mat-color($porsche-app-primary, 900);
  }
}

.mat-toolbar.mat-primary {
  color: mat-color($porsche-app-primary, 900);
  a {
    color: mat-color($porsche-app-primary, 900);
  }
  
  a:hover,
  a:active {
    color: mat-color($porsche-app-primary, 700);
  }
}

.mat-tab-group.mat-primary .mat-ink-bar {
  background-color: mat-color($porsche-app-accent, 500)
}