a {
  text-decoration: none;
}

.logo {
  background-color: white;
  height: 100px;
}

.logo-img  {
  height: 100%;
}

@media screen and (max-width: 600px) {
  .logo-img  {
    height: 40px;
  }
}

.navigation-items {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-caption {
  display: inline-block;
  padding-left: 6px;
}
